.centered-pages {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  min-height: 60px;
  background: #3f51b5;
  padding: 40px;
  margin-bottom: 20px;
  color: white;

  a {
    text-decoration: none;
    color: white !important;
    margin-left: 10px;

    &:hover {
      text-decoration: underline;
    }
  }
}
