.description {
  display: block;
}

.MuiPaper-root,
.center-layout {
  padding: 0 120px !important;
}

.custom-table {
  .MuiTableHead-root {
    th {
      background-color: rgb(221, 219, 216);
      font-weight: bold;
    }
  }

  table {
    border: 1px solid rgb(226 226 226);
    padding: 1px;
  }
}

.center-layout.MuiBox-root {
  margin-bottom: 10px;

  .MuiTabs-root {
    border: 1px solid rgb(226 226 226);
  }

  pre {
    margin-bottom: 0;
    margin-top: 2rem;
  }
}

.filter-group {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5%;

  span {
    min-width: fit-content;
    max-width: 300px;
  }
}
